* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color:#845EC2;
    height: 80px;
}



ul li {
    display: inline-block;
    position: relative;
    margin-right: 100px;

}

ul li a {
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}


#box1 {
    height: 400px;
    width: 500px;
    margin-top: 110px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: justify;
    text-transform: capitalize;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C34A36;
    box-shadow: 0 1px 4px black;
    transition: 1s;
}

#box1:hover {
    box-shadow: 0 4px 26px black;
}

#box2 {
    height: 400px;
    width: 500px;
    margin-top: 110px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: justify;
    text-transform: capitalize;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C34A36;
    box-shadow: 0 1px 4px black;
    transition: 1s;
    position: relative;
    bottom: 198px;
}

#box2:hover {
    box-shadow: 0 4px 26px black;
}

#box3 {
    height: 400px;
    width: 500px;
    margin-top: 110px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: justify;
    text-transform: capitalize;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#C34A36;
    box-shadow: 0 1px 4px black;
    transition: 1s;
    position: relative;
    bottom: 198px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

#box3:hover {
    box-shadow: 0 4px 26px black;
}

#bottom {
    padding-top: 30px;
    background-color:#BEA6A0;
    height: 200px;
    margin-top:0px;
    padding-top: 45px;
}
ol li{
    list-style: none;
    padding-left: 30px;
    display: inline-block;
    margin-right: 100px;
}
ol li a{
    text-decoration: none;
    
}
h4{
    margin-left: 20px;
}
#imp{
    background-color: #B0A8B9;
}